* {
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Noto Serif', serif;
}

body {
    background-image: linear-gradient(to right, #bd3fbbd1, #4378a9d1);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    text-align: center;
    margin-top: 22%;
}

p {
    font-size: 2em;
    text-shadow: 1px 1px 1px rgba(237, 216, 236, 0.663);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: rgba(50, 25, 15, 0.864);
}

button {
    font-size: 1.4em;
    background-color: rgb(122, 111, 111);
    border: none;
    border-radius: 5%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px 3px rgba(65, 43, 64, 0.663);
    color: rgba(207, 192, 192, 0.736);
    text-shadow: 1px 1px 1px rgba(65, 43, 64, 0.663);
}

button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(65, 43, 64);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}